@tailwind base;
@tailwind components;
@tailwind utilities;


.active_link{
    background-color: #4CE0D7;
    /* padding: 3px 22px; */
    border-radius: 100px;
}

.active_link:hover{
    background-color: #4ce0d6cc;
}

.active_mobile-menu{
    transform: translateX(0);
}

.shadow_around{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main_card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border-radius: 12px; */
    background-color: #fff;
}

.active_search{
    transform: translateY(0);
}


.input {
    @apply w-full border-[1px] border-gray-300 rounded-full p-2 text-gray-400 text-sm outline-none px-4;
}

.input_textarea {
    @apply w-full border-[1px] border-gray-300 rounded-xl p-2 text-gray-400 text-sm outline-none px-4 resize-none;
}

.btn_rounded {
    @apply bg-theme_green-500 w-[34px] h-[34px] rounded-3xl cursor-pointer flex items-center justify-center hover:bg-theme_green-400;
}